name: Will Test

run-name: ${{github.actor}} is learning GitHub Actions

on:
  push: 
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Main
      uses: actions/checkout@v2

    - name: Installing Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Installing Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run PyTest
      run: pytest